<ion-tabs>
  <ion-tab-bar slot="button">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="friends">
      <ion-icon name="person"></ion-icon>
      <ion-badge slot="end">22</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-avatar>
        <img
          class="avatar_user"
          alt="Silhouette of a person's head"
          [src]="profileAvatar"
        />
      </ion-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
