<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="header">THE JUNKTION</ion-col>
        <ion-col class="header" size="2"
          ><ion-button
            color="dark"
            fill="clear"
            routerLink="../../search"
            routerDirection="forward"
            ><ion-icon size="large" name="search-circle"></ion-icon></ion-button
        ></ion-col>
        <ion-col class="header" size="2"
          ><ion-button
            color="dark"
            fill="clear"
            routerLink="../../create"
            routerDirection="forward"
            ><ion-icon size="large" name="add-circle"></ion-icon></ion-button
        ></ion-col>
      </ion-row>
    </ion-grid>
    <ion-segment
      [scrollable]="true"
      value="discover"
      (ionChange)="changeSection($event)"
    >
      <ion-segment-button value="discover">
        <ion-label>Discover</ion-label>
      </ion-segment-button>
      <ion-segment-button value="friends">
        <ion-label>friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <ion-icon name="pricetag"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let Publication of Publications">
      <ion-card-header>
        <ion-row class="wrapper">
          <ion-col size="2">
            <ion-avatar>
              <img
                class="avatar"
                alt="Silhouette of a person's head"
                [src]="Publication.owner.profilePicture"
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="10">
            <ion-row class="info">
              <ion-col size="12">
                <span class="name">{{Publication.owner.name}}</span>
                <span class="handle">{{"@" + Publication.owner.username}}</span>
                <span>
                  Created at: {{Publication.createdAt | date:'short'}}</span
                >
                <ng-segment *ngIf="Publication.isEdited">
                  <span>
                    Edited at {{Publication.updatedAt | date:'short'}}
                  </span>
                </ng-segment>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>{{Publication.title}}</ion-card-title>
        <ion-card-subtitle>{{Publication.content}}</ion-card-subtitle>
      </ion-card-content>
      <ion-card-content *ngIf="Publication.images">
        <swiper-container class="imgpost" *ngIf="Publication.images">
          <swiper-slide *ngFor="let image of Publication.images">
            <img [src]="image" alt="" />
          </swiper-slide>
        </swiper-container>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              fill="clear"
              (click)="giveLike(Publication._id, this.token, Publication)"
            >
              <ion-icon
                *ngIf="Publication.isLiked; else notLikedIcon"
                name="heart"
              ></ion-icon>
              <ng-template #notLikedIcon>
                <ion-icon name="heart-outline"></ion-icon>
              </ng-template>
              <span id="likes">{{Publication.likes}}</span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"
              ><ion-icon
                class="action"
                name="chatbubble-outline"
              ></ion-icon></ion-button
          ></ion-col>
          <ion-col
            ><ion-button
              fill="clear"
              (click)="bookMarkPublication(Publication._id, Publication)"
            >
              <ion-icon
                *ngIf="Publication.isBookMarked; else notBookmarkedIcon"
                class="action"
                name="pricetag"
              ></ion-icon>
              <ng-template #notBookmarkedIcon>
                <ion-icon class="action" name="pricetag-outline"></ion-icon>
              </ng-template> </ion-button
          ></ion-col>
          <ion-col
            *ngIf="ownerSession === Publication.owner._id"
            (click)="publicationOptions(Publication._id)"
            ><ion-button fill="clear" id="open-action-sheet"
              ><ion-icon
                class="action"
                name="ellipsis-horizontal-outline"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
