


ion-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); // Agrega sombra a las tarjetas para darles profundidad
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
img.img_swiper {
    max-height: 250px;
    object-fit: cover; // Asegura que las imágenes se ajusten correctamente al espacio disponible
}


ion-card-subtitle {
    color: #fff;
    font-weight: bold; // Hace que los subtítulos sean más visibles
}

.info {
    font-size: 0.9em;
    color: #666; // Cambia el color del texto para mejorar la legibilidad
}

.name {
    font-size: 15px;
    color: #fff;
    font-weight: bold; // Hace que los nombres sean más visibles
}

.handle {
    padding-left: 4px;
    color: #afafaf;
    font-style: italic; // Diferencia los nombres de usuario del resto del texto
}

img.avatar, img.avatar_user {
    height: 50px;
    width: 50px;
    border-radius: 50%; // Hace que los avatares sean redondos
}

ion-icon.action {
    color: #fff;
}


ion-segment-button {
    --indicator-color: #F4511C;
}

ion-segment-button.md {
    --color: #fff;
    --color-checked: #F4511C;
    --indicator-height: 4px;
}

ion-col.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F4511C; // Agrega un color de fondo al encabezado
    color: #fff; // Cambia el color del texto del encabezado a blanco
}
