<ion-content>
  <div class="background">
    <div class="container">
      <img src="../../assets/icon/junktion.png" />

      <div class="button-container">
        <ion-button
          size="large"
          class="loginbtn"
          expand="block"
          routerLink="/login"
          routerDirection="forward"
          >Log in</ion-button
        >
        <ion-button
          size="large"
          class="joinbtn"
          expand="block"
          fill="clear"
          expand="block"
          routerLink="/register"
          routerDirection="forward"
          >Signup</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
