.background{
  background: rgb(40, 40, 43
  );
    height: 100%;
  }
  
  .container{
    height: 30%;
    display: grid;
    justify-content: center;
    align-items: center;
    
  }
  
  img{
    height: 70px;
  }
  
  .sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up ion-button{
  margin: 0;
}

  
  ion-input{
    --background: #373737;
   
   --padding-bottom: 10px;
   --padding-end: 10px;
   --padding-start: 10px;
  
    
  }
  
  .button-container{
    width: 100%;
    padding: 22px;
  }
  
  ion-button.loginbtn{
    --background:#FFFFFF;
    color: #000000;
    --border-radius: 25px;
    border-width: 2px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  }
  
  ion-button.joinbtn{
    margin-top: 15px;
    background-color:#F4511C;
    color: #FFFFFF;
    border-radius: 25px;
  }
  
  
  
  .block1 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .block2 {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  ion-list{
    height: 100%;
    width: 100%;
  }
  
  ion-item{
    width: auto;
  }
  
  ion-input{
    margin-top: 20px;
  }