<ion-header [translucent]="true">
  <ion-button
  color="dark"
  class="backbtn"
  routerLink="/landing/feed"
  routerDirection="back"><ion-icon
    name="arrow-back-outline"></ion-icon></ion-button>
</ion-header>

<ion-content [fullscreen]="true">
 
      <ion-card>
      <ion-card-header>
        <ion-row class="wrapper">
          <ion-col size="2">
            <ion-avatar>
              <img
                class="avatar"
                alt="Silhouette of a person's head"
              
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="10">
            <ion-row class="info">
              <ion-col size="12">
                <span class="name">ZZZZZZZZZZ</span>
                <span class="handle">XXXXXXXXX</span>
                <span>
                  </span
                >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              fill="clear"
              
            >
              <ion-icon
                
                name="heart"
              ></ion-icon>
              <ng-template #notLikedIcon>
                <ion-icon name="heart-outline"></ion-icon>
              </ng-template>
              <span id="likes"></span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear"
              ><ion-icon
                class="action"
                name="chatbubble-outline"
              ></ion-icon></ion-button
          ></ion-col>
          <ion-col
            ><ion-button fill="clear"
              ><ion-icon
                class="action"
                name="pricetag-outline"
              ></ion-icon></ion-button
          ></ion-col>
          <ion-col
            
            ><ion-button fill="clear" id="open-action-sheet"
              ><ion-icon
                class="action"
                name="ellipsis-horizontal-outline"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-list>
      <ion-item *ngFor="let item of items; let index">

        <ion-card>
          <ion-card-header>
            <ion-row class="wrapper">
              <ion-col size="2">
                <ion-avatar >
                  <img class="avatar" [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
                </ion-avatar>
              </ion-col>
              <ion-col size="10">
                <ion-row class="info">
                  <ion-col size="12">
                    <span class="name">{{ item }}</span>
                    <span class="handle">XXXXXXXXX</span>
                    <span>
                      </span
                    >
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button
                  fill="clear"
                  
                >
                  <ion-icon
                    
                    name="heart"
                  ></ion-icon>
                  <ng-template #notLikedIcon>
                    <ion-icon name="heart-outline"></ion-icon>
                  </ng-template>
                  <span id="likes"></span>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="clear"
                  ><ion-icon
                    class="action"
                    name="chatbubble-outline"
                  ></ion-icon></ion-button
              ></ion-col>
              <ion-col
                ><ion-button fill="clear"
                  ><ion-icon
                    class="action"
                    name="pricetag-outline"
                  ></ion-icon></ion-button
              ></ion-col>
              <ion-col
                
                ><ion-button fill="clear" id="open-action-sheet"
                  ><ion-icon
                    class="action"
                    name="ellipsis-horizontal-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
    
      </ion-item>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
</ion-content>
